
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&family=Stick+No+Bills:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: DM Sans;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --var-CorPrimario: #451705;
  --var-CorSecundario: #913916;
  --var-CorMedia: #DE6737;
  --var-verde1: #004539;
  --var-verde2: #16917D;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay; /*fazendo a barra de rolagem ficar sobreposta na pagina*/
  background-color: rgb(126, 225, 126);
  scrollbar-color: #00856e;
}


h1, h2, h3 {
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.alinhamentoGeral {
  width: min( 50rem, 100%); /* quando a largura for menor que 50rem(500px) pega 100% */
  margin: auto;
  padding: 2.4rem;
  
}


section {
  padding: 2rem;
}

@media (max-width: 1024px) {
  /* botão voltar */

.voltar-home {
    position: fixed;
    left: 1rem;
    top: 2rem;

    border: none;
    border-radius: 3rem;
    background-color: #16917db5;
    width: 11rem;
    height: 4rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.767);
    cursor: pointer;

    transition: transform .3s;
    z-index: 10 ;
  }

  .voltar-home a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-home a img {
    width: 2rem;
    filter: invert(1);
  }

  /* ---------- inicio kits - telas menores -------------- */


   #inicio {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bgs3.jpg);
    background-attachment: fixed;
  } 

  
  h1 {
    font-size: 3.5rem;
    color: white;
  }

  body.blur::before  {
    left: 0;
    content: '';
    position: absolute;
    z-index: 10;
    width: 100vw;
    min-height: 300vh;
    background-color: rgba(0, 0, 0, 0.75);
  }

  #inicio > .alinhamentoGeral {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }

  .container-kits {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pop-up {
    position: absolute;
    font-size: 1.4rem;
    font-weight: 600;
    width: 37rem;
    height: 20rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.764);
    background-color: white;
    z-index: 10;
    top: 25%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  button {
    width: 8rem;
    height: 5rem;
    background-color: rgb(239, 63, 63);
    border-radius: 3rem;
    transition: all .3s;
  }

  button:hover {
    transform: scale(1.1);
  }

  #popupdoar {
    display: none;
  }

  .btn-fechar {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
  }
 


  .box-kits {
    position: relative;
    width: 90%;
    border-radius: 2rem;
    background-color: rgb(245, 245, 245);
    margin-top: 10rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-kits h2 {
    margin-top: 3rem;
    font-size: 2.5rem;
  }

  .box-kits p {
    font-size: 1.5rem;
  }

  .box-kits p:nth-child(2) {
    font-size: 1.7rem;
    font-weight: 600;
  }

   .btn-doar {
    width: 80%;
    height: 4rem;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    border: none;
    margin: 1.5rem 0;
    border-radius: .5rem;
    background-color: var(--var-verde2);
    font-weight: 700;
    transition: all 0.3s;
  }

  .btn-doar:hover {
    transform: scale(1.1);
  }



  .img-cantoEsquerdo {
    width: 10rem;
    height: 10rem; 
    background-color: #23e0c1;
    border-radius: 50%; 

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: -4rem;
    top: -6rem;
  }

  .img-cantoEsquerdo img {
    width: 7rem;
  }

 
  /* -------- dados bancos de doações -------------- */

  .container-dados {
    margin-top: 8rem;
    padding: 2rem 2rem;

  }
  .container-dados h2 {
    color: white;
    font-size: 2.5rem;
  }

  .container-dados p {
    color: white;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  .container-dados :nth-child(3) {
    font-size: 1.3rem;
  }


  /* ---------------- footer --------------------- */

footer {
  background-color: var(--var-CorPrimario);
  padding: 2rem;
  text-align: left;
  color: white;
}


  footer > .alinhamento {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    
  }

  footer h3 {
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
    text-align: left;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  .footer-logo img {
    width: 20rem;
    filter: invert(1);
  }

  .footer-logo {
    width: 100%;
    text-align: justify;
    margin-bottom: 2rem;
  }

  .footer-menu {
    margin-bottom: 2.5rem;
  }

  .footer-menu ul, .footer-ajudar ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
  }

  .footer-ajudar {
    margin-bottom: 2.5rem;
  }
 

  .footer-icones ul {
    display: flex;
    gap: 3rem;
  }

  .footer-icones ul li {
    width: 3.8rem;
  }

  .footer-icones img {
    width: 100%;
    filter: invert(1);
  }

}

/*=== RESPONSIVIDADE  DESKTOP=================================*/

/* quando o dispositivo tiver minimo 1024px pra cima  */
@media (min-width: 1024px) {
  
    /* ::-webkit-scrollbar {
    width: 1.3rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-light);
    border: 0.5px solid #cfd8dc;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border: 3px solid #cfd8dc;
    border-radius: 10px;
  }  */

  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  .alinhamentoGeral {
    width: min(160rem, 100%);
  }

  section {
    padding: 2rem;
  }

  

  /* ------------- home -------------------- */

  .voltar-home {
    position: fixed;
    left: 1rem;
    top: 2rem;

    border: none;
    border-radius: 3rem;
    background-color: #16917db5;
    width: 11rem;
    height: 4rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.767);
    cursor: pointer;

    transition: transform .3s;
    z-index: 10 ;
  }

  .voltar-home a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-home a img {
    width: 2rem;
    filter: invert(1);
  }

  .voltar-home:hover {
    background-color: #16917dee;
    transform: scale(1.1);
  }

  

  /* -------- home ------------------ */
  
  

   #inicio {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/bgs3.jpg);
    background-attachment: fixed;
  } 

  
  h1 {
    font-size: 5rem;
    color: white;
  }

  body.blur::before  {
    left: 0;
    content: '';
    position: absolute;
    z-index: 10;
    width: 100vw;
    min-height: 160vh;
    background-color: rgba(0, 0, 0, 0.75);
  }

  #inicio > .alinhamentoGeral {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }

  .container-kits {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .pop-up {
    position: absolute;
    font-size: 2.4rem;
    font-weight: 600;
    width: 60rem;
    height: 25rem;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.764);
    background-color: white;
    z-index: 10;
    top: 25%;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 8rem;
    height: 5rem;
    background-color: rgb(239, 63, 63);
    border-radius: 3rem;
    transition: all .3s;
  }

  button:hover {
    transform: scale(1.1);
  }

  #popupdoar {
    display: none;
  }

  .btn-fechar {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
  }
 


  .box-kits {
    position: relative;
    width: 40rem;
    height: 25rem;
    border-radius: 2rem;
    background-color: rgb(245, 245, 245);
    margin-top: 10rem;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-kits h2 {
    margin-top: 3rem;
    font-size: 3.8rem;
  }

  .box-kits p {
    font-size: 2rem;
  }

  .box-kits p:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 600;
  }

   .btn-doar {
    width: 22rem;
    height: 5rem;
    cursor: pointer;
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 1.5rem;
    border-radius: .5rem;
    background-color: var(--var-verde2);
    font-weight: 700;
    transition: all 0.3s;
  }

  .btn-doar:hover {
    transform: scale(1.1);
  }



  .img-cantoEsquerdo {
    width: 15rem;
    height: 15rem; 
    background-color: #23e0c1;
    border-radius: 50%; 

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: -4rem;
    top: -6rem;
  }

  .img-cantoEsquerdo img {
    width: 10rem;
  }

 
  /* -------- dados bancos de doações -------------- */

  .container-dados {
    width: 90rem;
    margin-top: 8rem;
    padding: 2rem 10rem;

  }
  .container-dados h2 {
    color: white;
    font-size: 5.5rem;
  }

  .container-dados p {
    color: white;
    font-size: 3rem;
    margin-top: 1.5rem;
    font-weight: 600;
  }

  .container-dados :nth-child(3) {

    font-size: 2.3rem;
  }

  
  /*=== FOOTER =================================*/
  footer {
    padding: 2rem 0;
    background-color: var(--var-CorPrimario);
    color: white;
  }

  footer > .alinhamento {
    display: flex;
    justify-content: space-evenly;
  }

  footer h3 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  .footer-logo img {
    width: 25rem;
    filter: invert(1);
  }
  .footer-logo {
    width: 40rem;
    text-align: justify ;
  }

  .footer-menu ul, .footer-ajudar ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
  }
 
  .footer-icones ul {
    display: flex;
    gap: 3rem;
  }

  .footer-icones ul li {
    width: 3.8rem;
    transition: all .3s;
  }

   .footer-icones ul li:hover {
    transform: scale(1.15);
  }

  .footer-icones img {
    width: 100%;
    filter: invert(1);
  }

}
