
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&family=Stick+No+Bills:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: DM Sans;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;

  --var-CorPrimario: #451705;
  --var-CorSecundario: #913916;
  --var-CorMedia: #DE6737;
  --var-verde1: #004539;
  --var-verde2: #16917D;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  
}

html,
body {
  width: 100%;
  height: 100%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

body {
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay; /*fazendo a barra de rolagem ficar sobreposta na pagina*/
  background-color: rgb(126, 225, 126);
  scrollbar-color: #00856e;
}

h1, h2, h3, h4 {
  font-family: 'Stick No Bills', sans-serif;
  font-weight: 600;
}

.alinhamentoGeral {
  width: min( 50rem, 100%); /* quando a largura for menor que 50rem(500px) pega 100% */
  margin: auto;
  padding: 2.4rem;
  
}


section {
  padding: 3rem;
}

/*=== RESPONSIVIDADE  DESKTOP=================================*/

/* quando o dispositivo tiver minimo 1024px pra cima  */
@media (min-width: 1024px) {
  
     ::-webkit-scrollbar {
    width: 1.3rem;
  }

  ::-webkit-scrollbar-track {
    background: rgb(136, 136, 136);
    
  }

  ::-webkit-scrollbar-thumb {
    background: var(--var-verde1);
    border-radius: 10px;
  }  

  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  .alinhamentoGeral {
    width: min(112rem, 100%);
  }

  section {
    padding: 2rem;
  }

  
  /* ------------- inicio ---------- */
    .voltar-home {
    position: fixed;
    left: 1rem;
    top: 2rem;

    border: none;
    border-radius: 3rem;
    background-color: #16917db5;
    width: 11rem;
    height: 4rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.767);
    cursor: pointer;

    transition: transform .3s;
    z-index: 10 ;
  }

  .voltar-home a {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .voltar-home a img {
    width: 2rem;
    filter: invert(1);
  }

  .voltar-home:hover {
    background-color: #16917dee;
    transform: scale(1.1);
  }

  #home {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #01705e;
    display: flex;  
    justify-content: space-between;
  }


  #home > .alinhamentoGeral {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .conteudo-inicio {
    width: 65%;
    color: white;
  }

  .conteudo-inicio h2 {
    text-transform: uppercase;
    font-size: 7.2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .conteudo-inicio p {
    font-size: 2.3rem;
    padding: 0 5rem;
  }

  #home img {
    position: absolute;
  }

  .dogAmarelo {
    width: 38rem;
    bottom: 0;
    left: 0;
  }

  .cabecaGato {
    width: 50rem;
    transform: rotate(180deg);
    top: 0;
    right: 30%;
  }

  .dogCaramelo {
    transform: rotateY(200deg);
    right: -2rem;
    bottom: 0;
    width: 31rem;
  }

  /* ----------------- Itens a venda ------------------ */

  #itens-vendas {
    position: relative;
    background-color: white;
  }

  #itens-vendas h2 {
    font-size: 9rem;
    font-weight: 700;
  }

  #itens-vendas {
    font-size: 3rem;
  }


  .containerProdutos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(240, 240, 240);
  }

  .boxProdutos {
    width: 30rem;
    height: 42rem;
    margin-top: 4rem;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.664);
    overflow: hidden;
    z-index: 2;
  }

  .box-img {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  .box-img img {
    width: 100%;
  }

  .valor-info {
    height: 50%;
    padding: 0 1rem;
  }

  h3 {
    font-size: 3rem;
    color: white;
    padding: 0.5rem 0;
    
  }

  .valor-info p {
    margin: .7rem 0;
    font-size: 1.8rem;
  }

  .preco-item {
    display: block;
    font-size: 2.3rem;
    padding-top: 1rem;
  }

  

  .btn-comprar {
    cursor: pointer;
    font-size: 1.6rem;
    color: white;
    border: none;
    padding: 1.3rem 9rem;
    margin-top: 1rem;
    border-radius: .5rem;
    background-color: var(--var-verde2);
    transition: all 0.3s;
  }

  .btn-comprar:hover {
    transform: scale(1.1);
  }

   .img-patas img, .img-patas2 img {
    width: 60rem;
  }



  .img-patas {
    position: absolute;
    transform: rotate(-80deg);
    left: -18%;
    top: 20%;
  }

  .img-patas2 {
    position: absolute;
    transform: rotate(-100deg);
    right: -18%;
    bottom: 15%;
  }


  


  /*=== FOOTER =================================*/
  footer {
    padding: 2rem 0;
    background-color: var(--var-CorPrimario);
    color: white;
  }

  footer > .alinhamento {
    display: flex;
    justify-content: space-evenly;
  }

  footer h3 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  .footer-logo img {
    width: 25rem;
    filter: invert(1);
  }
  .footer-logo {
    width: 40rem;
    text-align: justify ;
  }

  .footer-menu ul, .footer-ajudar ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
  }
 

  .footer-icones ul {
    display: flex;
    gap: 3rem;
  }

  .footer-icones ul li {
    width: 3.8rem;
    transition: all .3s;
  }

   .footer-icones ul li:hover {
    transform: scale(1.15);
  }

  .footer-icones img {
    width: 100%;
    filter: invert(1);
  }

}
