@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&family=Lugrasimo&family=Stick+No+Bills:wght@200;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
  --nav-height: 7.2rem;

  --var-CorPrimario: #571e07;
  --var-CorSecundario: #913916;
  --var-CorMedia: #DE6737;
  --var-verde1: #004539;
  --var-verde2: #16917D;
  --var-btnhover:#9c4719;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}


body {
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay; /*fazendo a barra de rolagem ficar sobreposta na pagina*/
  background-color: var(--var-CorSecundario);
  scrollbar-color: var(--var-verde2);
}

.alinhamento {
  width: min(50rem, 100%); /* quando a largura for menor que 50rem(500px) pega 100% */
  margin: auto;
  padding: .5rem;
}

ul {
  list-style: none;
}


img {
  max-width: 100%;
}

section {
  padding: 2rem;
}


/*=== Navegação =================================*/
nav {
  display: flex;
  height: var(--nav-height);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

nav .alinhamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.4rem;
}

nav.scroll {
  background-color: rgba(71, 24, 5, 0.99);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .close-menu {
  position: fixed;
  z-index: 2; 
}

/*=== MENU-Expandido - Telas menores =================================*/

 .open-menu, .close-menu {
    filter: invert(1);
  }

.logo {
  filter: invert(1);
  width: 16rem;
}
body.menu-expanded {
  overflow: hidden;
}

.menu,
.close-menu, 
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}


body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--var-CorPrimario);
  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);
  transition: transform 0.5s;
  transform: translateX(0);
}

.menu .menu-expandido {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu .menu-expandido a {
  color: rgb(255, 255, 255);
}

.social-links {
  filter: invert(1);
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-evenly;
}

.social-links img {
  width: 3rem;
}

body.menu-expanded .logoScroll,
body.menu-expanded button {
  position: relative; /*desbloqueia o z-index*/
  z-index: 10;
}


@media (max-width: 1024px) {

  .logomenucelular img {
  filter: invert(1);
  width: 25rem;

}


  /*-------------- #HOME telas menos ------------------------ */
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home {
    padding-top: var(--nav-height);
    width: 100vw;
    min-height: 100vh;
  }

  .sectionHome {
    height: 100%;
    background-image: url(../assets/bg1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
  }

  .containerHome {
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;

    background-color: rgba(0, 16, 0, 0.370);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
    
    
  }


  .containerHome h1 {
    color: rgb(224, 224, 224);
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Stick No Bills', sans-serif;
    padding: 2rem 0;
  }

  .containerHome p {
    font-size: 1.5rem;
    padding: 2rem 0;
    font-weight: 600;
    text-transform: uppercase;
  }







  /*  ------------- Sobre - telas menores --------------- */

  .sectionSobre {
    position: relative;
    background-image: url(../assets/bgs2.jpg);
    background-position: bottom right;
    z-index: 2;
  }

   .sectionSobre::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(71, 24, 5, 0.82);
    left: 0;
    top: 0;
  } 
  
  .sectionSobre > .alinhamento {
    position: relative;
  }

  .box-Imagem, .box-Conteudo {
    width: 100%;
    z-index: 3;
  }
  
  .box-Imagem img{
    border-radius: 1rem;
  }

  .box-Conteudo {
    padding: 0 0.5rem;
    color: white;
    text-align: justify;
  }

  .box-Conteudo h2 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    margin-top: 1rem;

  }

  .box-Conteudo p {
    padding-top: 1.2rem;
    font-size: 1.5rem;
  }

  .btn-saiba {
    background-color: var(--var-CorSecundario);
    margin-top: 2rem;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    transition: 0.5s;
    cursor: pointer;
  }

  .box-Conteudo .btn-saiba > a {
    width: 100%;
    padding: 1.5rem 7.5rem;
    color: white;
    font-size: 1.5rem;
  }

/* ----------- Resgates - telas menores ---------- */

.sectionResgates {
   min-height: 100vh;
    background-image: url(../assets/bg7.jpg);
    background-size: cover;
    backdrop-filter: blur(4px);
    padding: 5rem;
  }

  .sectionResgates h2 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.370);
    border-radius: 1rem;
    padding: 2rem 0;
  }

  .sectionResgates::before {
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    background-color: #bebebe33;
    backdrop-filter: blur(2px);
    z-index: -1;
    top: 0;
    left: 0;
  }

  .carrossel-resgates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  /* border: 1px solid white; */
  box-shadow: none;
}

.swiper {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  box-shadow: none;
   
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40rem;

  background-color: #00453af8;
  filter: blur(3px);
  border-radius: 1rem;
   
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide-active {
  filter: blur(0);
}

.boxcard {
  position: relative;
  width: 100%;
  padding: 2rem;
  padding-top: 2rem;
  color: #ffffff;
}

 .boxcard img {
  width: 100%;

}

.resgate-conteudo {
  padding-top: 1.5rem;
  
}

.resgate-conteudo p {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: justify;
}

.orientacao-carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;

  width: 100%;
  height: 4rem;

}

.orientacao-carrosel img {
  width: 2rem;
  filter: invert(1);
}






/* ------------ card informações - telas menores  ----------------- */
.numeros-resgates {
  position: relative;
  width: 100%;
  background-image: url(../assets/bgs3.jpg);
  background-size: cover;
  padding: 2rem 0;
}

 .numeros-resgates::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(71, 24, 5, 0.82);
    top: 0;
    left: 0;

  }

.numeros-resgates > .alinhamento {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}


.box-numeros {
  width: 100%;
  height: 15rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.box-numeros p {
  color: white;
  text-transform: uppercase;
  font-weight: 600;

}


.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.box-numeros:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--var-CorMedia);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  justify-content: center;
  transform: rotateY(0deg);

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.359);
}

.card-front p {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.499);
  border-radius: .5rem;
  backdrop-filter: blur(4px);
  font-size: 1.7rem;
}

.card1 {
  background-image: url(../assets/bg3.jpg);
  background-size: cover;
}

.card2 {
  background-image: url(../assets/arara-gaiola.jpg);
  background-size: cover;
}

.card3 {
  background-image: url(../assets/fami-feliz.jpg);
  background-size: cover;
}


.card-back {
  background-color: var(--var-CorMedia);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  transform: rotateY(180deg);
  

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.359);
}

.card-back p {
  font-size: 1.2rem;
  padding: 0 1rem;
}


/* ----------- como ajudar - telas menores -------------- */

.sectionAjudar {
    background-color: var(--var-verde1);
    background-image: url(../assets/bg9.jpg);
    background-attachment: fixed;
  }

  .sectionAjudar h2 {
   font-family: 'Stick No Bills', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 2rem;
  }

  .sectionAjudar > .alinhamento {
    background-color: rgba(0, 16, 0, 0.370);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .container-ajuda {
    width: 90%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .box-ajuda {
    position: relative;
    color: white;
    width: 100%;
    height: 40rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.442);
    background-color: var(--var-CorSecundario);
    overflow: hidden;
  }

  .box-ajuda img {
    width: 100%;
    height: 50%;
    margin-bottom: 1.3rem;
  }

  .box-ajuda h3 {
    font-size: 2rem;

  }

  .box-ajuda p {
    font-size: 1.5rem;
    padding: 0 1.2rem;
    margin-top: 1rem;
    text-align: justify;
  }

  .btn-ajuda{
    background-color: var(--var-CorPrimario);
    margin-top: 2rem;
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;
    transform: scale(1);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    transition: 0.5s;
    cursor: pointer;

   
  }

  .btn-ajuda a {
    padding: 1rem 2rem;
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    
  }

 
  #ajudar .doacao {
    background-size: cover;
  }


  #ajudar .lojinha {
    background-size: cover;
  }

  #ajudar .adote {
    background-size: cover;
    
  }



/* ------------ footer - telas menores ------------------*/

footer {
  background-color: var(--var-CorPrimario);
  padding: 2rem;
  text-align: left;
  color: white;
}


  footer > .alinhamento {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
    
  }

  footer h3 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  .footer-logo img {
    width: 20rem;
    filter: invert(1);
  }

  .footer-logo {
    width: 100%;
    text-align: justify;
    margin-bottom: 2rem;
  }

  .footer-menu {
    margin-bottom: 2.5rem;
  }

  .footer-menu ul, .footer-ajudar ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
  }

  .footer-ajudar {
    margin-bottom: 2.5rem;
  }
 

  .footer-icones ul {
    display: flex;
    gap: 3rem;
  }

  .footer-icones ul li {
    width: 3.8rem;
    transition: all .3s;
  }

   .footer-icones ul li:hover {
    transform: scale(1.15);
  }

  .footer-icones img {
    width: 100%;
    filter: invert(1);
  }


}



/*------- TELAS MAIORES QUE 1024PX (DESKTOP ETC..) -----------------*/

/* quando o dispositivo tiver minimo 1024px pra cima  */
@media (min-width: 1024px) {
  /* ::-webkit-scrollbar {
    width: 1.3rem;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-light);
    border: 0.5px solid #cfd8dc;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border: 3px solid #cfd8dc;
    border-radius: 10px;
  } */
 
  body {
    overflow: auto;
  }

  .alinhamento {
    width: min(160rem, 100%);
  }

  section {
    padding: 6rem;
  }

  /*=== Navegação =================================*/

  nav#navigation .alinhamento * {
    margin: 0;
    padding: 0;
    color: white;
    filter: initial;
    display: initial;
    opacity: initial;
    position: initial;
    transform: initial;
    font-size: 1.5rem;
    visibility: initial;
    font-weight: initial;
    flex-direction: initial;
    background-color: initial;
  }

  #navigation .alinhamento ul li a {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
  }

  #navigation .alinhamento .logo {
    width: 15rem;
    filter: invert(1);
  }

  

  nav#navigation .close-menu,
  nav#navigation .open-menu,
  nav#navigation .social-links {
    display: none;
  }

 

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 60%;

  }

  nav#navigation .menu .menu-expandido {
    display: flex;
    gap: 3.2rem;
  }

  /* Criando a linha de animação nos links da navbar*/
  nav#navigation .menu li a::after {
    content: "";
    width: 0;
    height: 1.3px;
    background-color: white;
    display: block;
    position: relative;
    bottom: -1rem;
    left: -0.5rem;
    transition: width 0.4s;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a:hover::after {
    width: 100%;
    padding-inline: 0.8rem;
  }

  nav#navigation .menu li a.ativo::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  /* ------------- Seção HOME -------------------*/

  #navigation .alinhamento .menu .logomenucelular img{
    display: none;
  }

  #home {
    padding-top: var(--nav-height);
    width: 100vw;
    min-height: 100vh;
  }

  .sectionHome {
    height: 100%;
    background-image: url(../assets/bg1.jpg);
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;

    display: flex;
  }

  .containerHome {
    color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30rem;

    background-color: rgba(0, 16, 0, 0.370);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.74);
    
    
  }


  .containerHome h1 {
    color: rgb(224, 224, 224);
    font-size: 10rem;
    font-weight: 600;
    font-family: 'Stick No Bills', sans-serif;
    padding: 2rem 0;
  }

  .containerHome p {
    font-size: 3rem;
    padding: 2rem 0;
    font-weight: 600;
    text-transform: uppercase;
  }


  /*--------------------- Sobre nos ------------------------*/

  .sectionSobre {
    position: relative;
    background-image: url(../assets/bgs2.jpg);
    background-position: bottom right;
    z-index: 2;
  }

   .sectionSobre::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(71, 24, 5, 0.82);
    left: 0;
    top: 0;
  } 
  
  .sectionSobre > .alinhamento {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* overflow: hidden; */
  }

  .box-Imagem, .box-Conteudo {
    width: 49%;
    z-index: 3;
  }
  
  .box-Imagem img{
    border-radius: 1rem;
    
  }

  .box-Conteudo {
    padding: 0 2rem;
    color: white;
    text-align: justify;
  }

  .box-Conteudo h2 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;

  }

  .box-Conteudo p {
    padding-top: 1.2rem;
    font-size: 2.1rem;
    
  }

  .btn-saiba {
    background-color: var(--var-CorSecundario);
    margin-top: 2rem;
    width: 25rem;
    height: 6rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    transition: 0.5s;
    cursor: pointer;
  }

  .box-Conteudo .btn-saiba > a {
    width: 100%;
    padding: 2rem 8rem;
    color: white;
    font-size: 1.6rem;
  }

  .btn-saiba:hover {
    transform: scale(1.06);
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.61);
    background-color: var(--var-btnhover);

  }

 
  /* ------------- Resgastes -------------------*/
  
  .sectionResgates {
    background-image: url(../assets/bg7.jpg);
    backdrop-filter: blur(4px);
    /* background-size: cover; */
    background-attachment: fixed;
    
  }

 

  .sectionResgates h2 {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    background-color: rgba(0, 0, 0, 0.370);
    border-radius: 1rem;
    padding: 2rem 0;
  }

  .sectionResgates::before {
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    background-color: #bebebe33;
    backdrop-filter: blur(2px);
    z-index: -1;
    top: 0;
    left: 0;
  }

  .carrossel-resgates {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
  /* border: 1px solid white; */
  box-shadow: none;
}

.swiper {
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
   box-shadow: none;
   
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 40rem;
  height: 50rem;

  background-color: #00453af8;
  filter: blur(3px);
  border-radius: 1rem;
   
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide-active {
  filter: blur(0);
}

.boxcard {
  position: relative;
  width: 100%;
  padding: 2rem;
  padding-top: 2rem;
  color: #ffffff;
}

 .boxcard img {
  width: 100%;

}

.resgate-conteudo {
  padding-top: 1.5rem;
  
}

.resgate-conteudo p {
    padding-top: 1rem;
    text-align: justify;
}

.orientacao-carrosel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;

  width: 100%;
  height: 4rem;

}

.orientacao-carrosel img {
  width: 3rem;
  filter: invert(1);
}


/* --------------------- números resgates ---------------- */

 .numeros-resgates {
  position: relative;
  width: 100%;
  background-image: url(../assets/bgs3.jpg);
  background-size: cover;
  padding: 2rem 0;
}

 .numeros-resgates::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(71, 24, 5, 0.82);
    top: 0;
    left: 0;

  }

.numeros-resgates > .alinhamento {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 2rem;

}


.box-numeros {
  width: 30%;
  height: 25rem;
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.box-numeros p {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: 600;

}


.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.box-numeros:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: var(--var-CorMedia);
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 1rem;
  justify-content: center;
  transform: rotateY(0deg);

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.359);
}

.card-front p {
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.499);
  border-radius: .5rem;
  backdrop-filter: blur(4px);
}

.card1 {
  background-image: url(../assets/bg3.jpg);
  background-size: cover;
}

.card2 {
  background-image: url(../assets/arara-gaiola.jpg);
  background-size: cover;
}

.card3 {
  background-image: url(../assets/fami-feliz.jpg);
  background-size: cover;
}


.card-back {
  background-color: var(--var-CorMedia);
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: center;
  transform: rotateY(180deg);
  

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.359);
}

.card-back p {
  font-size: 2rem;
  padding: 0 1rem;
}


  
  /* -------------- Como ajudar ---------------- */

  .sectionAjudar {
    background-color: var(--var-verde1);
    background-image: url(../assets/bg9.jpg);
    background-attachment: fixed;
  }

  .sectionAjudar h2 {
   font-family: 'Stick No Bills', sans-serif;
    color: white;
    font-size: 5rem;
    font-weight: 700;
    padding-top: 3rem;
  }

  .sectionAjudar > .alinhamento {
    background-color: rgba(0, 16, 0, 0.370);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    margin-top: 7rem;
    }

  .container-ajuda {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .box-ajuda {
    position: relative;
    color: white;
    width: 40rem;
    height: 56rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.442);
    background-color: var(--var-CorSecundario);
    overflow: hidden;
  }

  .box-ajuda img {
    width: 100%;
    height: 50%;
    margin-bottom: 1.3rem;
  }

  .box-ajuda h3 {
    font-size: 2.5rem;

  }

  .box-ajuda p {
    font-size: 2rem;
    padding: 0 1.2rem;
    margin-top: 1rem;
    text-align: justify;
  }

  .btn-ajuda{
    background-color: var(--var-CorPrimario);
    margin-top: 2rem;
    width: 24rem;
    height: 5.5rem;
    border-radius: 1rem;
    transform: scale(1);
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    transition: 0.5s;
    cursor: pointer;

   
  }

  .btn-ajuda a {
    padding: 2rem 4.8rem;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    
  }

   .btn-ajuda:hover {
    transform: scale(1.06);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.61);
    background-color: var(--var-btnhover);

  }

 
  #ajudar .doacao {
    background-size: cover;
  }


  #ajudar .lojinha {
    background-size: cover;
  }

  #ajudar .adote {
    background-size: cover;
    
  }


  /*--------------- FOOTER ----------------------*/
  footer {
    padding: 2rem 6rem;
    background-color: #571e07;
  }

  footer > .alinhamento {
    display: flex;
    justify-content: space-between;
  }

  footer h3 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
    color: white;
  }

  footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  .footer-logo img {
    width: 25rem;
    filter: invert(1);
  }
  .footer-logo {
    width: 40rem;
    text-align: justify ;
    color: white;
  }

  .footer-menu ul, .footer-ajudar ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    
  }
 

  .footer-icones ul {
    display: flex;
    gap: 3rem;
  }

  .footer-icones ul li {
    width: 3.8rem;
    transition: all .3s;
  }

   .footer-icones ul li:hover {
    transform: scale(1.15);
  }

  .footer-icones img {
    width: 100%;
    filter: invert(1);
  }
}

